.bundle
.rspec_status
.yardoc/
.rubocop-https---raw-githubusercontent-com-kspurgin-code-quality-main-configurations-rubocop-standard-override-yml
.ruby-version
docs
data/backup
data/endpoint/**/*.json
data/for_import/**/*.csv
data/working/**/*.csv
**/*.csv#
